
<style>
    #div1 {
    position: absolute;
    z-index: 1;
}
#div2 {
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 50px;
}</style>

<div id="div1">
  <img class="card-img-top mx-auto"  src="/img/producto.jpeg" alt="" width="900px" height="1000px">
<div class="container p-4" id="div2">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/producto/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Nombre" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="int" name="precio" class="form-control" placeholder="Precio">
                        </div>
                        <div class="form-group">
                            <textarea name="description" rows="2" class="form-control" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>